.navCustom {
  font-family: 'Sorts Mill Goudy', serif;
  box-shadow: 0 0 10px black;

}

.jumboCustom {
  box-shadow: 0 0 10px black;
  height: 150px;
}

body {
  font-family: 'Sorts Mill Goudy', serif;
  background-color: white;
}

.indvCard:last-of-type:hover {
  cursor: pointer;
}